@import '../../styles/globals.scss';

.root {
  border-collapse: collapse;
  border: 1px solid $gray-darker;

  .header {
    font-size: .8em;
    color: $gray-darker;
  }
  .body {
    font-size: .7em;

    tr {
      border-top: 1px solid $gray-darker;
    }
  }

  th,
  td {
    padding: .5em;
    text-align: center;
  }
}
