$yellow: #eec452;
$yellow-lighter: #f7cb52;
$yellow-darker: #d4ae47;;
$green: #369984;
$green-lighter: #43a993;
$green-darker: #286f60;
$red: #d32857;
$red-lighter: #e83a6a;
$red-darker: #9c1c3f;
$gray: #e0e0e0;
$gray-darker: #dddddd;
$blue: #49a2e8;
$blue-darker: #36719e;
