@import '../../styles/globals.scss';

.root {
  @include base-sizes;
  @include base-border;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: (2 * $base-width) + $base-margin;
  height: 2 * $base-width;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: $yellow;
  color: white;

  .shift {
    font-size: .8em;

    .user {
      margin-bottom: $base-margin;
    }
  }

  .day {
    .name {
      margin-bottom: $base-margin;
      font-size: .5em;
    }

    .number {
      font-size: 2em;
      font-weight: bold;

      &:after {
        content: '';
        display: block;
        margin-top: $base-margin / 5;
        width: 100%;
        height: 1px;
        background-color: $yellow-darker;
        border-bottom: 1px solid $yellow-lighter;
      }
    }
  }
}
