@import '../../styles/globals.scss';

.root {
  @include base-margin;

  display: inline-block;

  &.small {
    width: 5em;
  }

  &.big {
    width: 10.5em;
  }

  &.full {
    display: block;
  }

  &.marginless {
    margin: 0;
  }

  .input {
    display: none;
  }

  .label {
    @include base-sizes;
    @include base-border;

    margin: 0;
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;

    &.default {
      background-color: $gray;
      border-color: $gray-darker;
    }

    &.yellow {
      background-color: transparentize(desaturate($yellow, 20%), 0.4);
      border-color: transparentize(desaturate($yellow-darker, 20%), 0.6);
    }

    &.green {
      background-color: transparentize(desaturate($green, 20%), 0.4);
      border-color: transparentize(desaturate($green-darker, 20%), 0.6);
    }

    &.red {
      background-color: transparentize(desaturate($red, 20%), 0.4);
      border-color: transparentize(desaturate($red-darker, 20%), 0.6);
    }
  }

  .input:checked + .label {
    border-width: 1px 0 0 1px;

    &.default {
      background-color: $blue;
      border-color: $blue-darker;
    }

    &.yellow {
      background-color: $yellow;
      border-color: $yellow-darker;
    }

    &.green {
      background-color: $green;
      border-color: $green-darker;
    }

    &.red {
      background-color: $red;
      border-color: $red-darker;
    }
  }
}