@import '../../styles/globals.scss';

.root {
  @include base-margin;

  display: inline-block;

  &.marginless {
    margin: 0;
  }

  .label {
    display: block;
  }

  &.error .label {
    color: $red;
  }

  .input {
    @include base-sizes;

    margin: ($base-margin / 2) 0 0;
    font-size: 1em;
    border: 1px solid $gray;
    border-radius: $base-border-radius;
  }

  &.error .input {
    border-color: $red;
    outline-color: $red;
  }
}