@import './colors.scss';

.root {
  position: relative;
  width: 5em;
  height: 5em;
  margin: .25em;

  .day {
    box-sizing: border-box;
    position: absolute;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-radius: .25em;
    width: 5em;
    height: 5em;
    padding: .75em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;
    transition: 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    .name {
      margin-bottom: .5em;
      font-size: .5em;
    }

    .number {
      font-size: 2em;
      font-weight: bold;

      &:after {
        content: '';
        display: block;
        margin-top: .1em;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid;
      }
    }

    &.free {
      background-color: $free;
      border-color: $free-darker;

      .dayNum:after {
        background-color: $free-darker;
        border-color: $free-lighter;
      }
    }

    &.keen {
      background-color: $keen;
      border-color: $keen-darker;

      .dayNum:after {
        background-color: $keen-darker;
        border-color: $keen-lighter;
      }
    }

    &.busy {
      background-color: $busy;
      border-color: $busy-darker;

      .dayNum:after {
        background-color: $busy-darker;
        border-color: $busy-lighter;
      }
    }
  }

  &.freeActive {
    .free {
      transform: rotateY(0deg);
    }

    .keen {
      transform: rotateY(-180deg);
    }

    .busy {
      transform: rotateY(-180deg);
    }
  }

  &.keenActive {
    .free {
      transform: rotateY(-180deg);
    }

    .keen {
      transform: rotateY(0deg);
    }

    .busy {
      transform: rotateY(-180deg);
    }
  }

  &.busyActive {
    .free {
      transform: rotateY(-180deg);
    }

    .keen {
      transform: rotateY(-180deg);
    }

    .busy {
      transform: rotateY(0deg);
    }
  }
}
