@import '../../styles/colors.scss';

.root {
  display: flex;
  flex-wrap: wrap;

  .label {
    box-sizing: border-box;
    width: 5em;
    height: 2.5em;
    padding: .75em;
    margin: .25em;
  }
}

.button {
  width: 5em;
  margin: .25em;
}