.root {
  position: relative;
  width: 5em;
  height: 5em;
  margin: .25em;

  .day {
    box-sizing: border-box;
    position: absolute;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-radius: .25em;
    width: 5em;
    height: 5em;
    padding: .75em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;
    transition: 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    .dayName {
      margin-bottom: .5em;
      font-size: .5em;
    }

    .dayNum {
      font-size: 2em;
      font-weight: bold;

      &:after {
        content: '';
        display: block;
        margin-top: .1em;
        width: 100%;
        height: 1px;
        background-color: #e2ba4b;
        border-bottom: 1px solid;
      }
    }

    &.free {
      background-color: #eec452;
      border-color: #d4ae47;

      .dayNum:after {
        background-color: #e2ba4b;
        border-color: #f7cb52;
      }
    }

    &.keen {
      background-color: #369984;
      border-color: #286f60;

      .dayNum:after {
        background-color: #2e7f6f;
        border-color: #43a993;
      }
    }

    &.busy {
      background-color: #d32857;
      border-color: #9c1c3f;

      .dayNum:after {
        background-color: #b12148;
        border-color: #e83a6a;
      }
    }
  }

  &.freeActive {
    .free {
      transform: rotateY(0deg);
    }

    .keen {
      transform: rotateY(-180deg);
    }

    .busy {
      transform: rotateY(-180deg);
    }
  }

  &.keenActive {
    .free {
      transform: rotateY(-180deg);
    }

    .keen {
      transform: rotateY(0deg);
    }

    .busy {
      transform: rotateY(-180deg);
    }
  }

  &.busyActive {
    .free {
      transform: rotateY(-180deg);
    }

    .keen {
      transform: rotateY(-180deg);
    }

    .busy {
      transform: rotateY(0deg);
    }
  }
}
