@import '../../styles/globals.scss';

.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .field {
    margin-bottom: 2 * $base-margin;
  }

  .submit {
    text-align: center;
  }
}