@import '../../styles/colors.scss';

.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .field {
    margin-bottom: 1em;
  }

  .submit {
    text-align: center;
  }
}